// An access code is required to disarm/night arm and may be required to arm based on panel configuration.
const char* accessCode = ""; 
// WiFi Settings
char wifiSSID[] = "";
char wifiPassword[] = "";
// Web page security 
const char* http_username = "dsc";
const char* http_password = "dsc";
// MQTT Settings
const char* mqttServer = "";
const int mqttPort = 1883;
const char* mqttUsername = "";
const char* mqttPassword = "";
